apiVersion: v1
kind: Service
metadata:
  labels:
    app: db
  name: db
  namespace: celery

spec:
  ports:
  - name: db
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: postgres
  type: ClusterIP
